[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/nesi/puppet-git.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
